.popup__title { 
    margin: 0px 0px 0px 36px;
    padding-top: 34px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media all and (max-width: 600px) {
    .popup__title { 
        max-width: 85%;
        margin: 0px auto 0px auto;
        padding-top: 14px;
        font-weight: 900;
    }
};