.header__button_menu_show {
    background-color: transparent;
    background-image: url('../../../../images/close-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    -webkit-background-size: auto;        
    -moz-background-size: auto;          
    -o-background-size: auto;  
}