.profile__subtitle {
    margin: 0px;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media all and (max-width: 600px) {
    .profile__subtitle {
        margin: 10px auto 0px;
        padding: 0px;
        font-size: 14px; 
    }
};