@import url(__add-button/profile__add-button.css);
@import url(__avatar/profile__avatar.css);
@import url(__avatar-img/profile__avatar-img.css);
@import url(__avatar-overlay/profile__avatar-overlay.css);
@import url(__edit-button/profile__edit-button.css);
@import url(__info/profile__info.css);
@import url(__subtitle/profile__subtitle.css);
@import url(__title/profile__title.css);

.profile {
    margin: 40px 0px 51px 0px;
    display: flex;
}

@media all and (max-width: 600px) {
    .profile {
        margin: 42px 0px 36px 0px;
        display: flex;
        flex-direction: column;
    }
};