.profile__edit-button {
    padding: 0px;
    margin: 0px 0px 0px 17px;
    width: 24px;
    height: 24px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    background-color: transparent;
    background-image: url(../../../images/edit-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    -webkit-background-size: auto;        
    -moz-background-size: auto;          
    -o-background-size: auto;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    outline: none;
}
.profile__edit-button:hover {
    opacity: .6;
}

@media all and (max-width: 600px) {
    .profile__edit-button {
        margin: 0px;
        width: 18px;
        height: 18px;
        margin-left: 5px;
    }
};