.main {
    margin: 0 auto;
    max-width: 882px;
}
@media all and (max-width: 1024px) {
    .main {
        padding: 0px 50px;
    } 
}
@media all and (max-width: 768px) {
    .main {
        padding: 0px 19px;
    }
};