.popup__submit-button { 
    display: block;
    margin: 38px 0px 0px 36px;
    width: 358px;
    padding: 16px 0px;
    background-color: #000000;
    border: 2px solid transparent;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    box-sizing: border-box;
    cursor: pointer;
    transition: .3s ease-in-out;
    outline: none;
    cursor: pointer;
    opacity: 1;
}
.popup__submit-button:hover {
    background-color: rgba(0, 0, 0, .8);
}

@media all and (max-width: 600px) {
    .popup__submit-button { 
        display: block;
        margin: 48px auto 0px auto;
        width: 85%;
        padding: 7px 0px;
    }
};