.profile__title {
    margin: 0px;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    display: inline-block;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media all and (max-width: 600px) {
    .profile__title {
        margin: 0px;
        max-width: 350px;
        font-size: 27px;
    }
};