.place__container {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: grid;
    column-gap: 18px;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit, 282px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media all and (max-width: 1024px) {
    .place__container {
        justify-content: space-around;
    }
};