.place__like-button {
    margin: 0px;
    padding-left: 20px;
    width: 21px;
    height: 19px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    background-image: url(../../../images/like-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: fill;
    cursor: pointer;
    transition: .3s ease-in-out;
    outline: none;
}
.place__like-button:hover {
    opacity: .5;
}
.place__like-button-active {
    background-image: url(../../../images/like-button-active.svg);
}