.popup__container {
    margin: 35vh auto 0px auto;
    background-color: #ffffff;
    max-width: 430px;
    padding-bottom: 36px;
    position: relative;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

@media all and (max-width: 600px) {
    .popup__container {
        margin: 90px auto 0px auto;
        padding-bottom: 14px;
        max-width: 75vw;
    }
};