.profile__add-button {
    margin: 0px;
    margin-left: auto;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    align-self: center;
    background-color: transparent;
    background-image: url(../../../images/add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: fill;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    outline: none;
}
.profile__add-button:hover {
    opacity: .6;
}

@media all and (max-width: 820px) {
    .profile__add-button {
        margin-left: auto;
        width: 50px;
    }
}
@media all and (max-width: 600px) {
    .profile__add-button {
        margin: 0px;
        width: 282px;
    }
};