.header__menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #545454;
    overflow: hidden;
    box-sizing: border-box;
}