@import url(__logo/header__logo.css);
@import url(__auth-nav/header__auth-nav.css);
@import url(__auth/header__auth.css);
@import url(__auth-email/header__auth-email.css);
@import url(__button/header__button.css);
@import url(__button/_show/header__button_menu_show.css);
@import url(__button/_hide/header__button_menu_hide.css);
@import url(__menu-mobile/header__menu-mobile.css);
@import url(__auth-email/_mobile/header__auth-email_type_mobile.css);
@import url(__auth-nav/_logout/header__auth-nav_type_logout.css);
@import url(__menu-mobile/_show/header__menu-mobile_type_show.css);
@import url(__menu-mobile/_hide/header__menu-mobile_type_hide.css);

.header {
    margin: 0 auto;
    max-width: 882px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    display: flex;
    justify-content: space-between;
}