.popup__field {
    width: 358px;
    margin: 40px 0px 0px 36px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.popup__field:last-of-type {
    margin-bottom: 0px;
}

@media all and (max-width: 600px) {
    .popup__field { 
        margin: 40px auto 0px auto;
        width: 85%;
    }
};